body {
    background-color: #fbf3ff;
    background-repeat: no-repeat;
    background-size: cover;
  }

.page-header {
    background-color: #8c00ff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.glyphicon-glyphicon-plus {
    color: #eab7ff;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Inter';
    font-weight: bold;
}

.date {
    color: #ff79d9;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 34pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
    border: 2px
}